*

!.gitignore
!ghostty/
!ghostty/**
!kitty/
!kitty/**
!lazygit/
!lazygit/**
!nvim/
!nvim/**
!starship/
!starship/**
!tmux/
!tmux/**
!television/
!television/**
!zsh/
!zsh/**

television/cable/
zsh/.zcompdump
zsh/.zsh_history
zsh/.zcompcache/
