*

!.gitignore
!bin/
!bin/**
!fish/
!fish/config.fish
!fish/conf.d/
!fish/conf.d/zoxide.fish
!fish/functions/
!fish/functions/_skim.fish
!ghostty/
!ghostty/**
!hunk/
!hunk/config.toml
!kitty/
!kitty/**
!lazygit/
!lazygit/**
!nvim/
!nvim/**
!starship/
!starship/**
!superfile/
!superfile/config.toml
!superfile/hotkeys.toml
!superfile/theme/
!superfile/theme/nvim-dark.toml
!tmux/
!tmux/**
!zsh/
!zsh/**

zsh/local/
