format = """
$directory\
$git_branch\
$git_state\
$git_status\
$character"""
add_newline = false

[directory]
style = "fg:cyan"
read_only_style = "fg:cyan"
truncation_length = 3
truncation_symbol = "…/"
format = "[ $path]($style)[$read_only]($read_only_style) "

[git_branch]
style = "fg:green"
symbol = " "
format = "[$symbol$branch(:$remote_branch)]($style) "

[character]
success_symbol = "[](bold green)"
error_symbol = "[](bold red)"

[time]
disabled = false
time_format = "%R"
format = " $time "
